
@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Departmanlar</h3>
                    <p><a href="http://localhost:49817/home">Anasayfa /</a> Servisler</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->
<!-- offers_area_start -->
<div class="our_department_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-55">
                    <h3>Departmanlarımız</h3>
                    <p>
                        Bizim departmanlar çok iyi <br>
                        Baya iyiler
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/img/department/1.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Göz Hastalıkları</a></h3>
                        <p>Göz Sağlığı ile ilgili güzel sözler</p>
                        <a href="#" class="learn_more">Daha Fazlası</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/img/department/2.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Fizik Tedavi</a></h3>
                        <p>Kelle Paça içince kemikler güçlenir.</p>
                        <a href="#" class="learn_more">Daha Fazlası</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/img/department/3.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Diş Sağlığı</a></h3>
                        <p>Dişleri fırçalamak Gerek</p>
                        <a href="#" class="learn_more">Daha Fazlası</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/img/department/4.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Teşhis Etme</a></h3>
                        <p>Ekspertiz</p>
                        <a href="#" class="learn_more">Daha Fazlası</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/img/department/5.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Cildiye</a></h3>
                        <p>Sivilceleri patlatma izi kalır</p>
                        <a href="#" class="learn_more">Daha Fazlası</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/img/department/6.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Cerrahi</a></h3>
                        <p>Ameliyat</p>
                        <a href="#" class="learn_more">Daha Fazlası</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offers_area_end -->
<!-- expert_doctors_area_start -->
<div class="expert_doctors_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="doctors_title mb-55">
                    <h3>Expert Doctors</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="expert_active owl-carousel">
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/img/experts/1.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mirazul Alom</h3>
                            <span>Neurologist</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/img/experts/2.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mirazul Alom</h3>
                            <span>Neurologist</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/img/experts/3.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mirazul Alom</h3>
                            <span>Neurologist</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/img/experts/4.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mirazul Alom</h3>
                            <span>Neurologist</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/img/experts/1.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mirazul Alom</h3>
                            <span>Neurologist</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/img/experts/2.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mirazul Alom</h3>
                            <span>Neurologist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- expert_doctors_area_end -->
<!-- Emergency_contact start -->
<div class="Emergency_contact">
    <div class="conatiner-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-6">
                <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue">
                    <div class="info">
                        <h3>Acil Durumlar İçin Telefon Numaramız</h3>
                        <p>Mercedes Vito ile VIP hasta taşımacılık.</p>
                    </div>
                    <div class="info_button">
                        <a href="#" class="boxed-btn3-white">0999 999 99 99</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue">
                    <div class="info">
                        <h3>E Randevu Al</h3>
                        <p>Hastaneye gelmeden internetten randevu alın.</p>
                    </div>
                    <div class="info_button">
                        <a href="#" class="boxed-btn3-white">Randevu Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Emergency_contact end -->
